language: python
branches:
  only:
    - master
    - develop
python:
  - 2.7
  - 3.5
before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda2/bin:$PATH
  - conda update --yes conda
install:
  - python setup.py install
script: python setup.py test