recursive-exclude tests *
include README.rst
include CHANGELOG.rst
include COPYING
include shallowlearn/voidptr.h
include shallowlearn/word2vec_inner.c
include shallowlearn/word2vec_inner.pyx
include shallowlearn/word2vec_inner.pxd